@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #fff7f0;
}

p {
    margin: 15px 0 15px 0;
    line-height: 26px;
}

.cryptedmail:after {
    content: attr(data-name) "@"attr(data-domain) "."attr(data-tld);
}

article a {
    text-decoration: none;
    color: inherit;
    border-bottom: dotted 1px #424242;
}

article li, article a, article p {
    color: #282927;
}

.headings {
    background-color: #fff7f0;
}

/* .container {
    position: relative;
    margin: 3rem;
    padding: 3rem;
    height: 600px;
    text-align: center;
    border: 3px solid black;
    border-radius: 1em;
    background-color: beige;
}

.container h1 {
    margin-bottom: 2rem;
}

.menu-items {
    text-align: center;
    position: absolute;
    padding: 5rem;
    top: 0;
    left: 0;
    list-style: none;
    opacity: 0;
    font-size: 2rem;
    border: 4px solid black;
    background-color: black;
    transform: translateX(-10%);
    transition: transform 100ms ease-in-out, opacity 200ms;
    width: 100%;
    height: 100%;
}

.menu-items li{
    color: white;
    padding: 0.5rem;
}

.menu-items li a{
    color: white;
    text-decoration: none;
}

.menu-items li a:hover{
    color: rgb(174, 174, 174);
}

.check {
    position: absolute;
    top: 0;
    left: 0;
    height: 3rem;
    width: 3rem;
    opacity: 0;
    z-index: 3;
}

.check:hover {
    cursor: pointer;
}

.check:checked~.menu-items {
    display: block;
    transform: translateX(0%);
    opacity: 1;
}

.ham-menu {
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: none;
    border-radius: 0.25em;
}

.ham-menu .line {
    background-color: #000;
    border-radius: 1em;
    width: 2rem;
    height: 0.25rem;
}

.ham-menu .line1 {
    transform-origin: 0% 0%;
    transition: transform 100ms ease-in-out;
}

.ham-menu .line3 {
    transform-origin: 0% 100%;
    transition: transform 100ms ease-in-out;
}

.check:checked~.ham-menu .line1 {
    display: block;
    transform: rotate(45deg);
}

.check:checked~.ham-menu .line2 {
    opacity: 0;
}

.check:checked~.ham-menu .line3 {
    display: block;
    transform: rotate(-45deg);
} */